header {
  text-align: center;
  background-color: var(--color2);
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-shadow: var(--boxShadow);
}

a {
  margin: 0 10px;
  color: var(--color4);;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: var(--color5);
  text-decoration: underline;
}